
doctype html 
// Credits
// Designed by Squiggles
// Update @kamxhmartin
// Based on the World of Dungeons sheet created by Brandon Mulcahy
html 
	head 
		.kob-logo
			img(alt='Kids on Bike Character Sheet', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/KOBLogo.png')

	body
		.character(style='width: 60%; display: inline-block')
			.characterAttributes()
				img(alt='Name', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Name.png')
				input(type='text', name='attr_character_name')
				br
				img(alt='Age', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Age.png')
				input(type='text', name='attr_character_age')
				br
				img(alt='Fear', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Fear.png')
				input(type='text', name='attr_character_fear')
				br
				img(alt='Motivation',src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Motivation.png')
				input(type='text', name='attr_character_motiviation')
				br
				img(alt='Description', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Descriptions.png')
				textarea(name='attr_character_description', rows='2')
		
		.stats(style='float: right')
			.something(style='float:left')
				img(alt='Kids on Bikes Stats', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/	Stats.png')
				br
				img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Fight.png', width='30', 	height='100', alt='Fight')
				input(type='text', name='attr_fight')
				br
				img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Brains.png', width='30', 	height='100', alt='Brains')
				input(type='text', name='attr_brains')
				br
				img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Charm.png', width='30', 	height='100', alt='Charm')
				input(type='text', name='attr_charm')
			.somethingelse(style='float:right')
				input.sheet-attrnum(type='text', name='attr_flight')
				img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Flight.png', width='30', height='100', alt='Flight')







