<<<<<<< HEAD
* {
  box-sizing: border-box;
}

.charsheet {
  overflow: auto;
  width: 800px;
  padding: 1%;
  background-color: #eee;
}

input.stat {
  width: 50px;
}
=======
* {
  box-sizing: border-box;
}

.charsheet {
  overflow: auto;
  width: 800px;
  padding: 1%;
  background-color: #eee;
}

input.stat {
  width: 50px;
}
>>>>>>> 7e4fb97cf6932f76b0253fc3380f34c26a21712f
