// Credits
// Designed by Squiggles
// Based on the World of Dungeons sheet created by Brandon Mulcahy
.kob-logo
  h1
    img(alt='Kids on Bike Character Sheet', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/KOBLogo.png')
  .sheet-box
    .sheet-biocol
      .sheet-biostartcol
        img(alt='Name', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Name.png')
      .sheet-biolabelcol
        input(type='text', name='attr_character_name')
      .sheet-biostartcol
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Age.png', alt='Age')
      .sheet-biolabelcol
        input(type='text', name='attr_character_age')
      .sheet-biostartcol
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Fear.png', alt='Fear')
      .sheet-biolabelcol
        input(type='text', name='attr_character_fear')
      .sheet-biostartcol
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Motivation.png', alt='Motivation')
      .sheet-biolabelcol
        input(type='text', name='attr_character_motiviation')
      .sheet-biostartcol
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Descriptions.png', alt='Description')
      .sheet-biolabelcol
        textarea(name='attr_character_description', rows='2')
      .sheet-biostartcol
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Adversity_updated.png', alt='Adversity')
      .sheet-biolabelcol
        span.sheet-adversitytokens
        - let index = 1
        while index < 16
          input(type='checkbox', name='attr_token' + index++, value='1')
  
    .sheet-box
      .sheet-col
        .sheet-statlabelcol
          img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Fight.png', width='30', height='100', alt='')
        .sheet-statinputcol
          input.sheet-attrnum(type='text', name='attr_fight')
          button(type='roll', value='** @{character_name} ** rolls a **FIGHT** check getting: [[@{fight}+?{modifier|0}]] ')  
        .sheet-statlabelcol
          img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Brains.png', width='30', height='100', alt='')
        .sheet-statinputcol
          input.sheet-attrnum(type='text', name='attr_brains')
          button(type='roll', value='** @{character_name} ** rolls a **BRAINS** check getting: [[@{brains}+?{modifier|0}]] ')  
        .sheet-statlabelcol
          img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Charm.png', width='30', height='100', alt='')
        .sheet-statinputcol
          input.sheet-attrnum(type='text', name='attr_charm')
          button(type='roll', value='** @{character_name} ** rolls a **CHARM** check getting: [[@{charm}+?{modifier|0}]] ')  
      .sheet-col
        .sheet-statinputcol
          input.sheet-attrnum(type='text', name='attr_flight')
          button(type='roll', value='** @{character_name} ** rolls a **FLIGHT** check getting: [[@{flight}+?{modifier|0}]] ')  
        .sheet-statlabelcol
          img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Flight.png', width='30', height='100', alt='')
        .sheet-statinputcol
          input.sheet-attrnum(type='text', name='attr_brawn')
          button(type='roll', value='** @{character_name} ** rolls a **BRAWN** check getting: [[@{brawn}+?{modifier|0}]] ')  
        .sheet-statlabelcol
          img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Brawn.png', width='30', height='100', alt='')
        .sheet-statinputcol
          input.sheet-attrnum(type='text', name='attr_grit')
          button(type='roll', value='** @{character_name} ** rolls a **GRIT** check getting: [[@{grit}+?{modifier|0}]] ')  
        .sheet-statlabelcol
          img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Grit.png', width='30', height='100', alt='')

.sheet-box
  .sheet-startcol-strengths
    h2
      img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Strengths-1.png', width='250', height='45', alt='')
    .sheet-strengthscol
    - const strengths =[{'attr' : 'attr_cool', 'name' : 'COOL UNDER PRESSURE'}, {'attr' : 'attr_easy_going', 'name' : 'EASYGOING'}, {'attr' : 'attr_gross', 'name' : 'GROSS'}, {'attr' : 'attr_heroic', 'name' : 'HEROIC'}, {'attr' : 'attr_intuitive', 'name' : 'INTUITIVE'}, {'attr' : 'attr_loyal', 'name' : 'LOYAL'}, {'attr' : 'attr_lucky', 'name' : 'LUCKY'}, {'attr' : 'attr_prepared', 'name' : 'PREPARED'}, {'attr' : 'attr_protective', 'name' : 'PROTECTIVE'}, {'attr' : 'attr_quick_healing', 'name' : 'QUICK HEALING'}, {'attr' : 'attr_rebellious', 'name' : 'REBELLIOUS'}, {'attr' : 'attr_skilled_at', 'name' : 'SKILLED AT'}, {'attr' : 'attr_tough', 'name' : 'TOUGH'}, {'attr' : 'attr_treasure_hunter', 'name' : 'TREASURE HUNTER'}, {'attr' : 'attr_unassuming', 'name' : 'UNASSUMING'}, {'attr' : 'attr_wealthy', 'name' : 'WEALTHY'}]
    each s in strengths
      if s.name != 'SKILLED AT'
        input(type='checkbox', name=s.attr, value='1')
        label.sheet-inline=s.name
        br
      else
        input(type='checkbox', name='attr_skilled_at', value='1')
        label.sheet-inline SKILLED AT
        br
        input(type='text', name='attr_skill_description')

  .sheet-endcol-powers(style='width: 60%;')
    h2
      img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Flaws-1.png', width='250', height='45', alt='')
    .sheet-col.sheet-nomargin
    .sheet-col(style='width: 22%;')
     - const flaws = [{'name': "ABSENT MINDED", "attr":"attr_absent_minded"},{"name": "BLUNT","attr":"attr_blunt" } ,{"name":"BOASTFUL", "attr":"attr_boastful"},{"name":"CLUMSY", "attr" : "attr_clumsy"},{"name":"CONCEITED", "attr":"attr_conceited"} , {"name":"COWARDLY", "attr": "attr_cowardly"},{"name": "DECEITFUL", "attr":"attr_deceitful"} ,  {"name":"DEMANDING", "attr": "attr_demanding"},{'attr' :'attr_demanding', 'name': 'DEMANDING'}, {'attr' :'attr_disloyal', 'name': 'DISLOYAL'}, {'attr' :'attr_disobedient', 'name' : 'DISOBEDIENT'}, {'attr' :'attr_dogmatic', 'name' :'DOGMATIC'}, {'attr' :'attr_envious', 'name' : 'ENVIOUS'}, {'attr' :'attr_flippant', 'name' :'FLIPPANT'}, {'attr' :'attr_gloomy', 'name' : 'GLOOMY'}, {'attr' :'attr_greedy', 'name' :'GREEDY'}, {'attr' :'attr_hot_tempered', 'name' :'HOT-TEMPERED'}, {'attr' :'attr_ignorant', 'name' :'IGNORANT'}, {'attr' :'attr_inconsiderate', 'name' :'INCONSIDERATE'}, {'attr' :'attr_insecure', 'name' :'INSECURE'}, {'attr' :'attr_irrational', 'name' :'IRRATIONAL'}, {'attr' :'attr_neurotic', 'name' :'NEUROTIC'}, {'attr' :'attr_obnoxious', 'name' :'OBNOXIOUS'}, {'attr' :'attr_paranoid', 'name' :'PARANOID'}, {'attr' :'attr_patronizing', 'name' :'PATRONIZING'}, {'attr' :'attr_perverse', 'name' :'PERVERSE'}, {'attr' :'attr_petty', 'name' :'PETTY'}, {'attr' :'attr_picky', 'name' :'PICKY'}, {'attr' :'attr_prejudice', 'name' :'PREJUDICE'}, {'attr' :'attr_prim', 'name' :'PRIM'}, {'attr' :'attr_reckless', 'name' :'RECKLESS'},{'attr' :'attr_resentful', 'name' :'RESENTFUL'}, {'attr' :'attr_restless', 'name' :'RESTLESS'}, {'attr' :'attr_rude', 'name' :'RUDE'}, {'attr' :'attr_secretive', 'name' :'SECRETIVE'}, {'attr' :'attr_selfcentered', 'name' :'SELF-CENTERED'}, {'attr' :'attr_selfpitying', 'name' :'SELF-PITYING'}, {'attr' :'attr_slovenly', 'name' :'SLOVENLY'}, {'attr' :'attr_superstitous', 'name' :'SUPERSTITIOUS'}, {'attr' :'attr_vain', 'name' :'VAIN'}, {'attr' :'attr_vindictive', 'name' :'VINDICTIVE'} ]
     each n in flaws 
      input(type='checkbox', name=n.attr, value='1')
      label.sheet-inline=n.name
      br
      
.sheet-box
  .sheet-box
    .sheet-startcol(style='width: 38%;')
      h2
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Powers-1.png', width='250', height='45', alt='')
      textarea(name='attr_powers', rows='5')
    .sheet-endcol(style='width: 58%;')
      h2
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Backpack-1.png', width='250', height='45', alt='')
      textarea(name='attr_backpack', rows='5')
  .sheet-box
    .sheet-onlycol(style='width: 98%;')
      h2
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids-on-Bikes/images/Label-Notes-1.png', width='250', height='45', alt='')
      textarea(name='attr_notes', rows='5', cols='70')
      br
